<h1><%= @community.name %></h1><br>
<h2> Events </h2><br>

<% @community.events.each do |event| %>
  <% title_subject = event.subjects.first %>
  <%= link_to title_subject.content, event %> <br>
<% end %>


