<h1><%= @community.name %></h1>
<h2> Events </h2>

<% @community.events.each do |event| %>
  <% title_subject = event.subjects.first %>
  <%= link_to title_subject.content, event_path(event) %> <br>
<% end %>

<%= link_to '打ち合わせを提案する', events_mtg_new_path(community_id: @community.id) %>

